@model DAL.Good
@{
    ViewBag.Title = "Canon";

}

<div class="row justify-content-center" style="margin-top:50px;margin-bottom:50px;">
    <h2>All product</h2>
</div>

<div class="row">
    @foreach (var good in ViewBag.Goods)
    {
        <div class="col-md-4" style="margin: 5px 0px;padding: 2px 5px;">
            <div class="card">
                <img src="@Url.Content("~/" + good.ImageUrl + ".jpg")" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@good.GoodName</h5>
                    <p class="card-text">@good.ShortDescription</p>
                    <h5 class="card-text"> @good.Price.ToString("c")</h5>
                    <a id="btnitems" class="btn btn-info" href="@Url.Action("AddToCart", "Cart",new
                                                                            {
                                                                                goodId = good.GoodId,
                                                                                returnUrl = Request.Url.PathAndQuery
                                                                            })">Add to basket</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <nav>
            <ul class="pagination">
                  @for (int i = 0; i < ViewBag.CountOfPages; i++)
                  {
                      <li class="page-item">
                          @Html.ActionLink((i + 1).ToString(), "AllGood", new { id = i + 1 }, new { @class = "page-link" })
                      </li>
                  }
            </ul>
        </nav>
    </div>
</div>

