
@model DAL.Good
@{
    ViewBag.Title = "NewGood";
}

<h2>NewGood</h2>
<div>
    @using (Html.BeginForm("NewGood", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.GoodId)
        <div class=" form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"> Good Name :</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.GoodName)
            </div>
        </div>
        <div class=" form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"> Image Url :</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.ImageUrl)
            </div>
        </div>
        <div class=" form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"> Short Description :</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.ShortDescription)
            </div>
        </div>
        <div class=" form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"> CategoryId :</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.CategoryId)
            </div>
        </div>
        <div class=" form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"> Price :</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.Price)
            </div>
        </div>
        <div class=" form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label"> Good Count :</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.GoodCount)
            </div>
        </div>
        @*<input type="submit" />*@
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a href="@Url.Action("Index", "Admin")" class="text-info link">Cancel and return to List</a>
    }

</div>